@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
  }
  
  #root, .app {
    height: 100%; /* Make sure the root div occupies full height */
  }
  
  canvas {
    display: block;
    width: 100vw;
    height: 100vh;
  }